@page 
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error 404</h1>
<h2 class="text-danger">Ther isn't any  Product with this id .</h2>

<a asp-page="Index" class="btn btn-warning mt-4 ms-2" style="width:20%;">Back</a>
